<a href="https://colab.research.google.com/github/syamjithz/ML-Self-Study/blob/main/Outliers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

**Outlier Removal**

1. Using InterQuantile Range(IQR)

In [ ]:
l = [11,10,-38,12,14,19,20,-56,100,156,23,-97,56,89,189,-10]
#converting list in to dataframe
df = pd.DataFrame(l,columns = ["Data"]) #data is the name of the column
df

    Data
0     11
1     10
2    -38
3     12
4     14
5     19
6     20
7    -56
8    100
9    156
10    23
11   -97
12    56
13    89
14   189
15   -10

In [ ]:
df = df.sort_values(by='Data') # by = "which value is using for sorting"
df

    Data
11   -97
7    -56
2    -38
15   -10
1     10
0     11
3     12
4     14
5     19
6     20
10    23
12    56
13    89
8    100
9    156
14   189

In [ ]:
df.describe()

             Data
count   16.000000
mean    31.125000
std     73.735451
min    -97.000000
25%      5.000000
50%     16.500000
75%     64.250000
max    189.000000

In [ ]:
q1 = df.quantile(.25)
q3 = df.quantile(0.75)
print(q1,"\n",q3)

Data    5.0
Name: 0.25, dtype: float64
 Data    64.25
Name: 0.75, dtype: float64

In [ ]:
iqr = q3-q1
iqr

Data    59.25
dtype: float64

In [ ]:
lb = q1-(1.5*iqr)
ub = q3+(1.5*iqr)
print(lb,"\n",ub) # whaterver in this range is considered and others are outliers

Data   -83.875
dtype: float64
 Data    153.125
dtype: float64

In [ ]:
df[(df<lb)]

    Data
11 -97.0
7    NaN
2    NaN
15   NaN
1    NaN
0    NaN
3    NaN
4    NaN
5    NaN
6    NaN
10   NaN
12   NaN
13   NaN
8    NaN
9    NaN
14   NaN

In [ ]:
df[(df<ub)]

     Data
11  -97.0
7   -56.0
2   -38.0
15  -10.0
1    10.0
0    11.0
3    12.0
4    14.0
5    19.0
6    20.0
10   23.0
12   56.0
13   89.0
8   100.0
9     NaN
14    NaN

In [ ]:
df_new = df[(df>lb)&(df<ub)]
df_new

     Data
11    NaN
7   -56.0
2   -38.0
15  -10.0
1    10.0
0    11.0
3    12.0
4    14.0
5    19.0
6    20.0
10   23.0
12   56.0
13   89.0
8   100.0
9     NaN
14    NaN

In [ ]:
df.describe()

             Data
count   16.000000
mean    31.125000
std     73.735451
min    -97.000000
25%      5.000000
50%     16.500000
75%     64.250000
max    189.000000

In [ ]:
df_new.describe()

             Data
count   13.000000
mean    19.230769
std     43.570162
min    -56.000000
25%     10.000000
50%     14.000000
75%     23.000000
max    100.000000

2. Using SD

In [ ]:
l = [11,10,-38,12,14,19,260,-566,100,156,23,-97,56,89,189,-10]
#converting list in to dataframe
df = pd.DataFrame(l,columns = ["Data"]) #data is the name of the column
df

    Data
0     11
1     10
2    -38
3     12
4     14
5     19
6    260
7   -566
8    100
9    156
10    23
11   -97
12    56
13    89
14   189
15   -10

In [ ]:
df = df.sort_values(by = "Data") # by = "which value is using for sorting"
df

    Data
7   -566
11   -97
2    -38
15   -10
1     10
0     11
3     12
4     14
5     19
10    23
12    56
13    89
8    100
9    156
14   189
6    260

In [ ]:
ub = df.Data.mean()+3*df.Data.std()
lb = df.Data.mean()-3*df.Data.std()
print(ub)
print(lb)

549.9131404156907
-521.4131404156907

In [ ]:
df_new = df[(df.Data>lb)&(df.Data<ub)] # df>lb is also fine since only one column is present in df
df_new

    Data
11   -97
2    -38
15   -10
1     10
0     11
3     12
4     14
5     19
10    23
12    56
13    89
8    100
9    156
14   189
6    260

-566 got removed

3. Using Zscore

In [ ]:
l = [11,10,-38,12,14,19,260,-566,100,156,23,-97,56,89,189,-10]
#converting list in to dataframe
df = pd.DataFrame(l,columns = ["Data"]) #data is the name of the column
df

    Data
0     11
1     10
2    -38
3     12
4     14
5     19
6    260
7   -566
8    100
9    156
10    23
11   -97
12    56
13    89
14   189
15   -10

In [ ]:
df = df.sort_values(by = "Data") # by = "which value is using for sorting"
df

    Data
7   -566
11   -97
2    -38
15   -10
1     10
0     11
3     12
4     14
5     19
10    23
12    56
13    89
8    100
9    156
14   189
6    260

In [ ]:
df["ZScore"] = (df.Data-df.Data.mean())/df.Data.std()
df.ZScore

7    -3.249710
11   -0.623059
2    -0.292628
15   -0.135813
1    -0.023802
0    -0.018202
3    -0.012601
4    -0.001400
5     0.026603
10    0.049005
12    0.233822
13    0.418640
8     0.480246
9     0.793876
14    0.978693
6     1.376331
Name: ZScore, dtype: float64

In [ ]:
df_new = df[(df.ZScore>-3)&(df.ZScore<3)]
df_new

    Data    ZScore
11   -97 -0.623059
2    -38 -0.292628
15   -10 -0.135813
1     10 -0.023802
0     11 -0.018202
3     12 -0.012601
4     14 -0.001400
5     19  0.026603
10    23  0.049005
12    56  0.233822
13    89  0.418640
8    100  0.480246
9    156  0.793876
14   189  0.978693
6    260  1.376331

In [ ]:
df_new.describe()

             Data     ZScore
count   15.000000  15.000000
mean    52.933333   0.216647
std     92.229889   0.516537
min    -97.000000  -0.623059
25%     10.500000  -0.021002
50%     19.000000   0.026603
75%     94.500000   0.449443
max    260.000000   1.376331